
<div>
	<p>
		<strong>Rating:</strong>
		<%= review.rating %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= review.comment %>
	</p>

	<p>
		<strong>User:</strong>
		<%= review.user.name %>
	</p>

	<p>
	  <%= link_to 'Delete', [review.restaurant, review],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>
</div>